/* base */
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* heading */

.navbar{
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    justify-items: center;
    /* These two code make navbar sticky on top */
    position: sticky;
    top: 0%;
}
.nav-list{
width : 50%;
display: flex;
align-items: center;
padding-left: 2rem;
}

.nav-list li{
    /* this will remove dots before li */
    list-style: none;
    padding: 0.2rem 1rem;
}

.nav-list li a{
    /* this removes underline of anchor tags */
    text-decoration: none;
    color: white;
}

.nav-list li a:hover{
    color: grey;
}

.search{
    width: 50%;
    text-align: right;
    padding-right: 2rem;
}

#input-search{
    padding: 0.4rem;
    border-radius: 4px;
    border: 2px solid grey;
}

.btn-sm {
    border: 2px solid white;
    padding: 0.30rem 0.60rem;
    color: white;
    border-radius: 6px;
    background: none;
    cursor: pointer;
    
}

.btn-sm:hover {
    border: 2px solid green;
    padding: 0.30rem 0.60rem;
    background-color: green;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.btn {
    border: 2px solid white;
    padding: 0.30rem 0.60rem;
    background: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    
}

.btn:hover {
    border: 2px solid green;
    padding: 0.30rem 0.60rem;
    background-color: green;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

/* To put a background within nav-bar */
.background{
    background: rgba(6, 24, 128, 0.589)url(/images/architecture-g906b57c71_1920.jpg);
    background-size: cover;
    background-blend-mode:darken;
}
/* Content */
/* hero section */
.firstSection{
    padding: 6rem 0rem;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 4rem 4rem;
    
    
}
.firstHalf{
    text-align: center;
    width: 75%;
}

.img{
    margin-left: 9rem;
    width: 70%;
    height: auto;
    border-radius: 18px;
    border: 2px solid wheat;
}

.title{
    font-size: xx-large;
    padding-bottom: 1rem;
}

.subtitle{
    padding-bottom: 2rem;
}

/* Content Section */
.secRight{
    height: 300px;
    display: flex;
    align-items: center;
    padding: 0rem 4rem;
}

.img1{
    width: 100%;
    height: auto;
    border-radius: 18px;
    border: 2px solid wheat;
    
}

.tag{
    font-size: larger;
    padding-bottom: 1rem;
    font-weight: bold;
}

.img2{
    width: 100%;
    height: auto;
    border-radius: 18px;
    border: 2px solid wheat;
}

.firstPara{
    margin-right: 4rem;
}

.secondPara{
    margin-left: 4rem;
}

.footer{
    background: black;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 1rem 0rem;
}

.footerLink{
    color: white;
    text-decoration: none;
}

